<h1 class="title"> <%= @article.title %> </h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<br>
<p class="body">
  <p><% if @article.image.exists? %>
      <%= image_tag @article.image.url(:medium) %>
    <% end %>
  </p>
  <%= @article.body %>
</p><br />
<%= link_to(">>Edit Article<<", edit_article_path(@article)) %><br>
<%= link_to("<<Delete Article>>", article_path(@article), method: :delete,
    data: {confirm: "Really delete the article?"}) %><br>
    <h3>Comments (<%= @article.comments.size %>)</h3><br>
    <%= render partial: 'articles/comment', collection: @article.comments %><br>
    <%= render partial: 'comments/form' %><br>
<%= link_to("<<Back to articles index", articles_path) %>
